* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(151, 238, 231), rgb(131, 114, 172));
}

div.container {
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 75vh;
    max-height: 95vh;
    width: 45vw;
    padding-bottom: 30px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 0 10px 3px white;
    color: rgb(46, 46, 46);
    transform: translate(-50%, -50%);
}

ul.to-do {
    max-height: 50vh;
    overflow-y: auto;
}

h1.to-do {
    width: 100%;
    padding: 15px 10px 30px;
    font-size: 30px;
    font-weight: 300;
    font-family: 'Oswald', arial, sans-serif;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

form.to-do {
    margin-bottom: 5vh;
    text-align: center;
}

.to-do * {
    font-family: 'Oswald', arial, sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
}

.to-do input {
    width: 65%;
    height: 5vh;
    padding: 0 15px;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}

.to-do input:focus {
    outline: none;
}

.to-do button {
    width: 15%;
    height: 5vh;
    padding: 2px 5px;
    margin-left: 10px;
    border-style: none;
    border-radius: 5px;
    color: black;
    background-image: linear-gradient(to bottom right, rgb(112, 129, 228), rgb(85, 149, 165));
    cursor: pointer;
}

::selection {
    background-color: rgb(112, 129, 228);
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 5vh;
    padding-left: 20px;
    width: calc(80% + 10px);
    margin: 3% auto;
    border-radius: 5px;
    background-color: white;
    list-style: none;
    letter-spacing: 5px;
}

li div {
    width: 15px;
    height: 15px;
    margin-right: 20px;
    border: 3px solid rgb(85, 149, 165);
    border-radius: 50%;
    cursor: pointer;
}

li p {
    flex-grow: 1;
    overflow-x: hidden;
    max-width: calc(100% - 15px - 20px - 15% - 10px);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-image: linear-gradient(to bottom right, rgb(112, 129, 228), rgb(85, 149, 165));
}

@media (max-width: 1025px) {
    div.container {
        width: 90vw;
    }
}

@media (max-width:900px) and (orientation:landscape) {
    div.container {
        width: 90vw;
        height: 90vh;
    }

    .to-do input {
        height: 8vh;
    }

    .to-do button {
        height: 8vh;
    }

    li {
        height: 8vh;
    }
}

@media (max-width: 540px) {

    .to-do * {
        font-size: 12px;
    }

    .to-do button {
        width: 25%;
        padding: 4px 10px;
    }

    li p {
        max-width: calc(100% - 15px - 20px - 25% - 20px);
    }
}